body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

[placeholder]::-webkit-input-placeholder {
  color: gray; }

[placeholder]:-moz-placeholder {
  color: gray; }

[placeholder]::-moz-placeholder {
  color: gray; }

[placeholder]:-ms-input-placeholder {
  color: gray; }

.input-validation-error {
  background-color: #fff1f1;
  border-color: #fc3d3d;
  outline: 0; }
  .input-validation-error:focus, .input-validation-error:active {
    border-color: #fc3d3d;
    background-color: #fefefe;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 61, 61, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 61, 61, 0.6); }
  .input-validation-error:hover {
    border-color: #fc8d4d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 109, 61, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 109, 61, 0.6); }

.grayshadow-heavy, .form-horizontal.minimalistic-form {
  box-shadow: 1px 1px 10px #888888; }

.grayshadow-normal {
  box-shadow: 1px 1px 6px #888888; }

.grayshadow-light {
  box-shadow: 1px 1px 3px #888888; }

.form-horizontal.minimalistic-form {
  padding: 10px;
  text-align: center;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */ }
  .form-horizontal.minimalistic-form .form-group {
    margin: 5px; }
  .form-horizontal.minimalistic-form input, .form-horizontal.minimalistic-form select, .form-horizontal.minimalistic-form textarea {
    max-width: 100%; }
  .form-horizontal.minimalistic-form .btn {
    margin-top: 10px; }
  @media only screen and (min-width: 320px) {
    .form-horizontal.minimalistic-form {
      margin-top: 40px; } }
  @media only screen and (min-width: 480px) {
    .form-horizontal.minimalistic-form {
      margin: 40px 10% 0 10%; } }
  @media only screen and (min-width: 768px) {
    .form-horizontal.minimalistic-form {
      margin: 10% 20%; } }
  @media only screen and (min-width: 992px) {
    .form-horizontal.minimalistic-form {
      margin: 10% 30%; } }
  @media only screen and (min-width: 1200px) {
    .form-horizontal.minimalistic-form {
      margin: 10% 35%; } }

.form-middle-sm {
  width: auto;
  padding: 10px;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */ }
  .form-middle-sm .form-control,
  .form-middle-sm .btn {
    border-radius: 0px; }
    .form-middle-sm .form-control.btn-default:hover, .form-middle-sm .form-control.btn-default:active,
    .form-middle-sm .btn.btn-default:hover,
    .form-middle-sm .btn.btn-default:active {
      background-color: #fff; }
  .form-middle-sm h4, .form-middle-sm h2 {
    text-align: center; }
  .form-middle-sm input, .form-middle-sm select, .form-middle-sm textarea {
    max-width: 90%; }
    .form-middle-sm input[type="checkbox"], .form-middle-sm select[type="checkbox"], .form-middle-sm textarea[type="checkbox"] {
      margin-left: auto; }
    .form-middle-sm input:hover, .form-middle-sm select:hover, .form-middle-sm textarea:hover {
      border-color: orange;
      border-top: 3px solid orange;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 165, 0, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 165, 0, 0.6); }
    .form-middle-sm input:active, .form-middle-sm input:focus, .form-middle-sm select:active, .form-middle-sm select:focus, .form-middle-sm textarea:active, .form-middle-sm textarea:focus {
      border-color: #82aa36;
      border-top: 3px solid #82aa36;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(130, 170, 54, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(130, 170, 54, 0.6); }
  @media only screen and (min-width: 320px) {
    .form-middle-sm {
      margin-top: 40px; } }
  @media only screen and (min-width: 480px) {
    .form-middle-sm {
      margin: 40px 10% 0 10%; } }
  @media only screen and (min-width: 768px) {
    .form-middle-sm {
      margin: 10% 15%; } }
  @media only screen and (min-width: 992px) {
    .form-middle-sm {
      margin: 10% 20%; } }
  @media only screen and (min-width: 1200px) {
    .form-middle-sm {
      margin: 10% 25%; } }

